<section class="bg-white dark:bg-gray-800">
    <owl-carousel-o [options]="mainSliderOptions()">
    <ng-template carouselSlide>
        <img src="/assets/images/img1.avif" class="w-full"  alt="">
    </ng-template>  
    <ng-template carouselSlide>
        <img src="/assets/images/img2.avif" class="w-full"  alt="">
    </ng-template>  
    <ng-template carouselSlide>
        <img src="/assets/images/img3.avif" class="w-full"  alt="">
    </ng-template>  
    <ng-template carouselSlide>
        <img src="/assets/images/img4.avif" class="w-full"  alt="">
    </ng-template>  
    <ng-template carouselSlide>
        <img src="/assets/images/img5.avif" class="w-full"  alt="">
    </ng-template>  
    
  </owl-carousel-o>
</section>