<section class="py-14">
    <div class="container">
        <h1 class="text-center text-5xl mb-6"> Product Title : {{prodcutDetails().title}}</h1>
        <div class="grid sm:grid-cols-12 items-center gap-6 my-4">
            <div class="col-span-3">
                <img [src]="prodcutDetails().imageCover" class="w-full" [alt]="prodcutDetails().title">
            </div>

            <div class="col-span-9">
                <h2 class="text-3xl " > {{prodcutDetails().title}} </h2>
                <p class="text-gray-700 text-sm my-2 " > {{prodcutDetails().description}} </p>
                <!-- <span > {{prodcutDetails().category.name}} </span> -->

                <div class="flex items-center justify-between">
                    <span>{{prodcutDetails().price}} EGP</span>
                    <span>
                        <i class="fas fa-star text-yellow-500"></i>
                        {{prodcutDetails().ratingsAverage}}
                    </span>
                </div>

                <button (click)="addProductInCart(prodcutDetails()._id)" class="btn mt-2"> Add To Cart </button>
            </div>
        </div>
    </div>
</section>